<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/welcome">UpForGrabs</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#/signup">Signup</a></li>
    </ul>
  </div>
</nav>
<br/>
<br/>
<br/>

<div class="container">
  <h2>LOGIN</h2>
    <p class="lead">Sign in with your existing Username and Password.</p>
    <br/>
  <form class="login">
    <input class="form-control" type="text" placeholder="Username" ng-model="loginCtrl.login.username"/>
    <input class="form-control" type="password" placeholder="Password" ng-model="loginCtrl.login.password"/>
    <br/>
    <button class="btn btn-primary" type="submit" ng-click="loginCtrl.postLogin()">LOGIN</button>
  </form>
</div>
