<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/welcome">UpForGrabs</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#/login">Login</a></li>
    </ul>
  </div>
</nav>
<br/>
<br/>
<br/>

<div class="container">
  <h1>SIGN UP</h1>
    <p class="lead">Create an account.</p>
    <br/>
  <form class="signup form-group">
    <input class="form-control" type="text" placeholder="First Name" ng-model="signupCtrl.signup.firstName"/>
    <input class="form-control" type="text" placeholder="Last Name" ng-model="signupCtrl.signup.lastName"/>
    <input class="form-control" type="email" placeholder="Email" ng-model="signupCtrl.signup.email"/>
    <input class="form-control" type="text" placeholder="Username" ng-model="signupCtrl.signup.username"/>
    <input class="form-control" type="password" placeholder="Password" ng-model="signupCtrl.signup.password"/>
    <br/>
    <button class="btn btn-primary" type="submit" ng-click="signupCtrl.postSignup()">REGISTER</button>
  </form>
</div>
