<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#home">UpForGrabs</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#/dashboard">Profile</a></li>
      <li><a href="#/welcome">Logout</a></li>
    </ul>
  </div>
</nav>
<br/>
<br/>
<br/>

<div class="container">
<h1>Welcome To UpForGrabs!</h1>
  <h2>Let's get started.</h2>
  <h3>Begin by selecting your city below.</h3>
  <br/>
  <fieldset>
    <legend>Location</legend>
    <select name="location">
      <option value="boston">Boston</option>
    </select>
  </fieldset>
  <br/>
  <br/>

  <h3>Then let's decide how we can help you today.</h3>
    <p class="lead">Post your available space and find a roommate</p>
      <a href="#/listing/new"><button type="button" class="btn btn-success">Create Listing</button></a>
      <br/>
      <br/>
      <br/>
    <p class="lead">Looking for housing?</p>
      <a href="#/dashboard"><button type="button" class="btn btn-success">Begin Search</button></a>
</div>
