<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">UpForGrabs</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Signup</a></li>
      <li><a href="#">Login</a></li>
    </ul>
  </div>
</nav>
<br/>
<br/>
<br/>

<div class="container">
  <h1>The best place for your housing needs.</h1>
  <h3>Discover the perfect apartment or post an availability to attract the perfect roommate.</h3>
    <p class="lead">New to UpForGrabs? Create an account today.</p>
      <button type="button" class="btn btn-lg btn-primary">Signup</button>
      <br/>
      <br/>
      <br/>
    <p class="lead">Welcome back.</p>
      <button type="button" class="btn btn-lg btn-primary">Login</button>
</div>
